
.data-containers {
    margin: auto;
    max-width: 80%; 
    padding: 20px;
  }
  
  .data-first {
    display: flex;
  }
  
  .flex-img {
    width: 40%;
    margin: 10px;
  }
  
  .flex-head {
    width: 60%;
    margin: 10px;
  }
  
  .data-img {
    width: 100%;
    height: 100%;
  }
  
  .data-paragraph {
    text-align: justify;
  }
  
  .data-second {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
  }
  
  .data-images {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  
  @media (max-width: 1000px) {
    .flex-img,
    .flex-head {
      width: 100%;
    }
  
    .data-first {
      display: flex;
      flex-direction: column;
    }
  
    .data-second {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .data-containers {
      max-width: 100%;
      padding: 10px;
    }
  
    .data-first {
      flex-direction: column;
    }
  
    .data-second {
      flex-direction: column;
    }
  
    .data-images {
      margin-top: 10px;
    }
  }